body {
    background-color: #FFFFFF;
    color: #3F6FE6;
}

.container {
    display: flex;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 3.5rem;
    margin-left: 7rem;
}

.calculator h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.calculator label {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.calculator input {
    width: 50%;
    height: 2rem;
    background-color: #FFFFFF;
    border: 1px solid #42413F;
    border-radius: 10px;
}

.calculator button {
    margin-top: 2rem;
    width: 50%;
    height: 2rem;
    color: #FFFFFF;
    background-color: #3F6FE6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold
}

.calculator button:hover {
    color: #3F6FE6;
    background-color: #FFFFFF;
    border: 1px solid #42413F;
}

.calculator span {
    font-size: 3rem;
    margin-top: 3.5rem;
}

.table {
    width: 50%;
    padding: 5rem;
}

table {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 35%;
    width: 30%;
}

table th {
    font-size: 1.5rem
}